.card__container {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 0 10px; /* добавим небольшие отступы между карточками */
  }
  
  /* .card img {
    width: 100px;
    height: auto;
    border-radius: 8px;
  }
  
  .card h2 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
  }
  
  .card p {
    color: #666;
  }
 */
